#characteristic {
  width: 40%;
  position: relative;
  background-color: #fabd02;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#characteristic .characteristic_wrapper {
  width: 75%;
  text-align: left;
}

#characteristic h1 {
  font-family: "Proxima Nova Bold";
  font-size: 50px;
  align-content: center;
  position: relative;
}

#characteristic h2 {
  font-family: "Proxima Nova Regular";
  font-size: 15px;
  position: relative;
  text-align: justify;
  letter-spacing: 3px;
}

#characteristic p {
  font-family: Georgia, "Times New Roman", Times, serif;
  position: relative;
  text-align: justify;
  font-style: italic;
}

.font_definition {
}
