.content_wrapper {
  flex: 1;
  padding: 20px 40px;
  overflow: auto;
  border-right: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  border-bottom-right-radius: 13px;
  position: absolute;
  width: calc(100% - 250px);
  left: 250px;
  height: 100%;
}

.content_wrapper .content + .content {
  margin-top: 40px;
}

.content_wrapper > .content > .title {
  margin: 10px auto 20px auto;
  font-size: 30px;
  font-family: "Proxima Nova Bold";
  text-align: left;
}

.content_wrapper > .content > .text {
  color: rgb(99, 99, 99);
  text-align: left;
  margin-top: 0px;
  white-space: pre;
}
