.content_wrapper {
  min-height: 0px;
  flex: 1;
  padding: 10px 20px;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom-right-radius: 13px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15%;
}

.content_wrapper > .content > .title {
  margin: 10px auto 20px auto;
  font-size: 30px;
  font-family: "Proxima Nova Bold";
  text-align: left;
}

.content_wrapper > .content > .text {
  color: rgb(99, 99, 99);
  text-align: left;
  margin-top: 0px;
  white-space: pre-line;
}
