.category {
  height: calc(100vh - 70px);
  display: flex;
  width: 100%;
}

.category + .category {
  margin-top: 20px;
}
.category .title {
 font-family: "Proxima Nova Regular";
  font-size: 20px;
  position: relative;
  margin-left: 200px;
  margin-top: 20px;
  text-align: left;
  letter-spacing: 3px
}

.category .category_content {
  flex: 1;
  position: relative;
  min-width: 0px;
  display: flex;
  flex-direction: column;
}
