main {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  flex: 1;
  display: flex;
  min-height: 0px;
}

main > .title {
  width: 25%;
  text-align: left;
  padding: 30px;
  margin-top: 50px;
  color: #555555;
  font-size: 3em;
  font-family: "Proxima Nova Extra Bold";
  letter-spacing: 3px;
}

.tabelissima {
  flex: 1;
  background-color: rgb(255, 253, 253);
  min-width: 0px;
  overflow: auto;
}
