@font-face {
  font-family: ProximaNova-ExtraBold;
  src: url(C:\Users\Jova\Videos\interactive_table\src\resources\data\Fontes\ProximaNova-Extrabold.woff);
}

@font-face {
  font-family: ProximaNova-Light;
  src: url(C:\Users\Jova\Videos\interactive_table\src\resources\data\Fontes\ProximaNova-Light.woff);
}



main {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

main > .title {
  width: 100%;
  text-align: left;
  padding: 30px;
  margin-top: 50px;
  color: #555555;
  font-size: 3em;
  font-family: ProximaNova-ExtraBold;
  letter-spacing: 3px;
}

main > .table_wrapper {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
}

main > .table_wrapper + .table_wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
}

main > .table_wrapper > .title {
  width: 100%;
  background: rebeccapurple;
  padding: 15px;
  color: whitesmoke;
  text-align: center;
  font-family: ProximaNova-Light;
  letter-spacing: 3px;
  font-size: 1.5em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0 auto;
  box-sizing: border-box;
}

main > .table_wrapper > .table {
  position: relative;
  width: 100%;
  display: flex;
  flex: 1;
}

