.filter_wrapper {
  position: absolute;
  width: 95%;
  z-index: 5;
  background: #fabd02;
  height: 90%;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.filter_wrapper .filter_toogle {
  position: relative;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.filter_wrapper .filter_toogle:hover {
  background: #ffdc72;
  cursor: pointer;
}

.filter_wrapper .filter_toogle img {
  width: 50px;
  height: 50px;
  float: right;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
  z-index: 5;
}

.filter_wrapper .filter_toogle span {
  left: 0px;
  min-width: 300px;
  width: calc(100% - 90px);
  text-align: right;
  position: absolute;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.filter_wrapper.hasSelection:not(:hover) {
  width: 60px;
}

.filter_wrapper.hasSelection:not(:hover) .filter_toogle {
  height: 50px;
  width: 50px;
  background: none;
  padding: 10px 5px;
  box-sizing: content-box;
}

.filter_wrapper.hasSelection:not(:hover) .filter_toogle span {
  visibility: hidden;
  opacity: 0;
}

.filter_wrapper.hasSelection:not(:hover) .filter_toogle img {
  height: 50px;
  width: 50px;
  border: 2px solid transparent;
}

.filter_wrapper.hasSelection .filter_toogle.selected {
  background: #ffdc72;
}
/*
.filter_wrapper.hasSelection .filter_toogle span {
  visibility: hidden;
  position: absolute;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(-200px);
  line-height: 16px;
  width: 100px;
  font-size: 14px;
  text-align: center;
}

.filter_wrapper.hasSelection .filter_toogle:hover span {
  visibility: visible;
  color: black;
  opacity: 1;
  transform: translateY(-60px);
  width: 100px;
}
*/
