#home {
  text-align: center;
  height: calc(100vh - 70px);
  width: 100%;
  display: flex;
}

#home .image-wrapper {
  background-color: #fabd02;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home .content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 253, 253);
}

#home .content-wrapper .content {
  width: 60%;
  min-width: 300px;
  text-align: left;
}

#home .content-wrapper .content h1 {
  font-family: "Proxima Nova Bold";
  font-size: 50px;
  margin-bottom: 0px;
}

#home .content-wrapper .content h2 {
  font-family: "Proxima Nova Light";
  font-size: 50px;
  font-style: italic;
}

#home .content-wrapper .content p {
  margin: 20px 0px 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
