#home {
  text-align: center;
  height: calc(100vh - 59.5px);
  width: 100%;
}

#home img {
  margin-top: 50px;
}

.lado-cor {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 50%;
  background-color: #fabd02;
}

.lado-txt {
  width: 50%;
  height: 100vh;
  position: relative;
  left: 50%;
  background-color: rgb(255, 253, 253);
  text-align: left;
}

#home h1{
font-family: "Proxima Nova Bold";
font-size: 50px;
align-content: center;
position: relative;
padding-top: 160px;
margin-left: 170px;
margin-right: 80px;
margin-bottom: 0px;
}

#home h2{
  font-family: "Proxima Nova Light";
  font-size: 50px;
  align-content: center;
  position: relative;
  margin-top: 0px;
  margin-left: 170px;
  margin-right: 80px;
  font-style: italic;
  }

.face {
   position: relative;
   top:80px;
  }
 
#home p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: relative;
  margin-left: 170px;
  margin-right: 140px;
  margin-top: 30px;
  text-align: justify;
  }

.headerzim{
  margin-top: 100px;
}