.side_menu {
  display: flex;
  flex-direction: column;
}

.side_menu button {
  width: 150px;
  padding: 10px 10px;
  font-family: "Proxima Nova Regular";
  background: #fabd02;
  font-size: 15px;
  color: rgb(17, 17, 17);
  flex: 1;
  transition: all 0.3s ease-in-out;
  outline: none;
  box-sizing: border-box;
}

.side_menu button.selected {
  font-family: "Proxima Nova Bold";
  background: rgb(255, 255, 255);
  color: black;
  transform: translateX(7px);
}

.side_menu button:hover {
  opacity: 0.7;
}
